<ion-content class="close-to-me-scroll">

    <ion-header class="header-search-map" [hidden]="isRegistering || isEditingBusiness">
        <ion-toolbar color="light">
            <ion-buttons slot="start">
                <ion-menu-button *ngIf="!isSearching" autoHide="false"></ion-menu-button>
                <ion-button *ngIf="isSearching" (click)="goToMap()">
                    <ion-icon slot="icon-only" icon="arrow-back"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-searchbar
                #searchInput
                (keyup.enter)="onHideKeyboard($event);"
                (ionInput)="onSearch($event)"
                (ionFocus)="onFocusSearch()"
                (ionBlur)="onFocusExit()"
                (ionClear)="onClear()"
                [placeholder]="isSearching ? 'Busca tiendas o servicios': ''"
                color="light"
                [ngClass]="{'search-pagami-background': !isSearching}"
                class="searchbar-pagami without-search-icon">
            </ion-searchbar>
            <ion-buttons slot="end" *ngIf="!isSearching">
                <app-avatar-header></app-avatar-header>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-header *ngIf="isRegistering" class="header-search-map header-search-map--surface" [hidden]="!beforeSaveLocation">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button slot="icon-only" disabled>
                    <ion-icon src="assets/icon/location-on.svg" class="size-icon-default"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-searchbar placeholder="Parate frente a la empresa y guarda la ubicacion" color="pagami-surface" class="searchbar-pagami without-search-icon" disabled></ion-searchbar>
        </ion-toolbar>
    </ion-header>

    <ion-header *ngIf="isEditingBusiness" class="header-search-map header-search-map--surface">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/app/settings/my-business"></ion-back-button>
            </ion-buttons>
            <ion-searchbar placeholder="Mueve el cursor para modificar tu ubicacion" color="pagami-surface" class="searchbar-pagami without-search-icon" disabled></ion-searchbar>
        </ion-toolbar>
    </ion-header>


    <div #mapCanvas id="map-canvas" class="map-canvas"></div>


    <div class="background-sheet-header" [hidden]="!bottomDrawer.showBackToolbar"></div>

    <ion-fab #fab class="fab-corner-lr" horizontal="end" vertical="bottom" slot="fixed" [hidden]="isRegistering || isEditingBusiness">
        <ion-fab-button color="{{ fabAttached ? 'map':'light'}}" (click)="attachedPosition()" class="size-fab">
            <ion-icon src="assets/icon/my_location.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab class="fab-business-add" horizontal="end" vertical="top" slot="fixed" [hidden]="isSearching || isRegistering || isEditingBusiness">
        <ion-fab-button color="light" class="size-fab" (click)="goToRegisterBusiness()">
            <ion-icon src="assets/icon/business_add.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="footer-button footer-button--div" *ngIf="isRegistering">
        <ion-button [disabled]="saving" class="button-large" expand="block" (click)="saveLocation()" color="pagami" *ngIf="beforeSaveLocation">
            <ion-spinner *ngIf="saving" class="spinner-energized"></ion-spinner>
            <span *ngIf="!saving">Guardar ubicacion</span>
        </ion-button>
        <ion-button class="button-large" expand="block" (click)="navigateToBusinessDetails()" routerLink="/app/business-details" color="pagami" *ngIf="!beforeSaveLocation">
            Continuar
        </ion-button>
    </div>

    <div class="footer-button footer-button--div" *ngIf="isEditingBusiness">
        <ion-button [disabled]="saving" class="button-large" expand="block" (click)="saveNewLocation()" color="pagami">
            <ion-spinner *ngIf="saving" class="spinner-energized"></ion-spinner>
            <span *ngIf="!saving">Guardar nueva ubicacion</span>
        </ion-button>
    </div>

</ion-content>


<ion-bottom-drawer class="nearby-drawer" [disableDrag]="bottomDrawer.disableDrag" [(state)]="bottomDrawer.drawerState" [minimumHeight]="bottomDrawer.minimumHeight" (stateChange)="onDrawerStateChange($event)"
                   [dockedHeight]="bottomDrawer.dockedHeight" [shouldBounce]="bottomDrawer.shouldBounce" [distanceTop]="bottomDrawer.distanceTop"
                   (scrollContent)="onScrollContent($event)" [bottomHeightChange]="bottomHeightChange" (hideBottomSheet)="onBottomSheetHide($event)"
                   (drawerPositionChange)="onDrawerPositionChange($event)" (disableScrollContent)="bottomDrawer.disableScrollContent = $event">
    <div class="drawer-content nearby-expanded">
        <div>
            <app-nearby [drawerState]="bottomDrawer.drawerState" [selectedPlace]="selectedPlace" [nearPlaces]="nearPlaces" (changePlaceType)="onPlaceTypeChanged($event)"
                        [searching]="searchingPlaces" [searchText]="searchText" (changeDrawerState)="clickOnNearbyBar()"></app-nearby>
        </div>
    </div>
</ion-bottom-drawer>

