<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="activity" class="tab-button">
            <ion-icon src="assets/icon/tabs/activity.svg" class="tab-button__icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="payments" class="tab-button">
            <ion-icon name="cash" class="tab-button__icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="businesses" class="tab-button">
            <ion-icon src="assets/icon/tabs/business.svg" class="tab-button__icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="records" class="tab-button">
            <ion-icon src="assets/icon/tabs/registers.svg" class="tab-button__icon"></ion-icon>
            <ion-badge *ngIf="showNotification" color="danger">{{showNotification}}</ion-badge>
<!--            <div class="p-relative">-->
<!--                <div *ngIf="showNotification" class="red-notification"></div>-->
<!--            </div>-->
        </ion-tab-button>

        <ion-tab-button tab="users" class="tab-button">
            <ion-icon src="assets/icon/tabs/users.svg" class="tab-button__icon"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
