<ion-app>
    <ion-menu side="start" menuId="menu" contentId="main" class="my-custom-menu">
        <ion-header>
            <ion-toolbar>
                <ion-title>
                    <ion-img class="logo" src="assets/icon/logo-complete.png"></ion-img>
                </ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list lines="none">
                <ion-item [detail]="false" class="ion-margin-vertical"
                          (click)="browser.open('https://pagami.net/')">
                    <ion-icon slot="start" name="globe-outline"></ion-icon>
                    <ion-label>pagami.net</ion-label>
                </ion-item>
                <ion-item [detail]="false" class="ion-margin-bottom"
                          (click)="browser.open('https://www.youtube.com/channel/UCcDemoIK4a4Qy4c0-HFboCQ/featured')">
                    <ion-icon slot="start" name="logo-youtube"></ion-icon>
                    <ion-label>Youtube</ion-label>
                </ion-item>
                <ion-item [detail]="false" class="ion-margin-bottom"
                          (click)="browser.open('https://api.whatsapp.com/send/?phone=573134854926&text&app_absent=0')">
                    <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
                    <ion-label>Soporte</ion-label>
                </ion-item>
            </ion-list>
<!--            <app-background-empty title="Aún en construcción" text="Estará activo en próximas versiones."-->
<!--                                  src="assets/img/building.png" [maxWidth]="100" [height]="85">-->
<!--            </app-background-empty>-->
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
