<ion-app>
    <ion-menu side="start" menuId="menu" contentId="main" class="my-custom-menu">
        <ion-header>
            <ion-toolbar>
                <ion-title>
                    <ion-img class="logo" src="assets/icon/logo-complete.png"></ion-img>
                </ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <app-background-empty title="Aún en construcción" text="Estará activo en próximas versiones."
                                  src="assets/img/building.png" [maxWidth]="100" [height]="85">
            </app-background-empty>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
