<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Factura de pago</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div>
        <h3>Pago aceptado</h3>
        <ion-img></ion-img>
        <p>Asegurate de tomar una captura y guardar este comprabante</p>
    </div>

    <ion-list>

        <ion-item>
            <ion-label>
                <h3>Id del comprobante</h3>
                <p>EgkUCcZdgsUTEMU021n1</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>Fecha de pago</h3>
                <p>5/8/2020 7:09pm</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h3>Nombre y Apellido</h3>
                <p>Juanito Perez</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>Plan comprado</h3>
                <p>Emprendedor / 365 días</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>Detalles del plan</h3>
                <p>20 productos y 5 servicios</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h3>Monto Pagado</h3>
                <p>$40000 COP</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>Forma de pago</h3>
                <p>Trasnferencia</p>
            </ion-label>
        </ion-item>

    </ion-list>

</ion-content>
